<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/ionic.bundle.js"></script>

</head>
<body>
    <div id="header">
        <div class="h_t">
            <div class="h_t_content" ng-show="isLogin">
                <nav>
                    <a ng-click="doLogout()"><img src="images/main_loginOut.png">退出</a>
                    <a><img src="images/main_user.png">{{userName}}</a>
                    <a><img src="images/main_phone.png">15996458299</a>
                </nav>
            </div>
            <div class="h_t_content" ng-hide="isLogin">
                <nav>
                    <a href="register.html"><img src="images/register.png">注册</a>
                    <a href="login.html"><img src="images/login.png">登录</a>
                    <a><img src="images/main_phone.png">15996458299</a>
                </nav>
            </div>
        </div>
        <div class="h_b">
            <div class="h_b_content">
                <img src="images/main_logo.png" class="logo" ng-click="toIndex()">
                <ul>
                    <li class="active"><a href="/newbie/index.html">首页</a></li>
                    <li><a href="/newbie/shares.html">我的分享</a></li>
                    <li><a href="#">我的收藏</a></li>
                    <li><a href="#">开发者头条</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="mid">
        <div id="third-parts" class="row">
            <div class="col-lg-3 item toutiao">
                <span><a href="http://toutiao.io/" target="_blank">开发者头条</a></span>
                <p>开发者头条是一个由草根站长开发的个人博客。开发者头条主要运用PHP等语言开发而成。主要服务于对电脑程序的兴趣爱好者所提供。</p>
                <label for="">独家号：</label><input type="text" value="73104" />
                <button class="btn" id="toutiao-sync">同步</button>
            </div>
            <div class="col-lg-3 item">
                <span>Git</span>
                <p>Git 是一个快速、可扩展的分布式版本控制系统，它具有极为丰富的命令集，对内部系统提供了高级操作和完全访问.Git 可以保存任何文档，但是最善于保存文本文档，因为它本来就是为解决软件源代码（也是一种文本文档）版本管理问题而开发的，提供了许多有助于文本分析的工具。对于非文本文档，Git 只是简单地为其进行备份并实施版本管理。</p>
            </div>
            <div class="col-lg-3 item">
                <span>CSDN</span>
                <p>中国最大的IT社区和服务平台，为中国的软件开发者和IT从业者提供知识传播、职业发展、软件开发等全生命周期服务，满足他们在职业发展中学习及共享知识和信息、建立职业发展社交圈、通过软件开发实现技术商业化等刚性需求。</p>
            </div>

            <div class="col-lg-3 item"><a href="/newbie/tree.html">python</a></div>
            <div class="col-lg-3 item"><a href="#">django</a></div>
            <div class="col-lg-3 item"><a href="#">tornado</a></div>
            <div class="col-lg-3 item"><a href="#">odoo</a></div>
            <div class="col-lg-3 item"><a href="#">html</a></div>
            <div class="col-lg-3 item"><a href="#">css</a></div>
            <div class="col-lg-3 item"><a href="#">bootstrap</a></div>
            <div class="col-lg-3 item"><a href="#">js</a></div>
            <div class="col-lg-3 item"><a href="#">nodejs</a></div>
            <div class="col-lg-3 item"><a href="#">angularjs</a></div>
            <div class="col-lg-3 item"><a href="#">mysql</a></div>
            <div class="col-lg-3 item"><a href="#">postgresql</a></div>
            <div class="col-lg-3 item"><a href="#">mongodb</a></div>
            <div class="col-lg-3 item"><a href="#">elasticsearch</a></div>
            <div class="col-lg-3 item"><a href="#">linux</a></div>
            <div class="col-lg-3 item"><a href="#">windows</a></div>
            <div class="col-lg-3 item"><a href="#">mac</a></div>
            <div class="col-lg-3 item"><a href="#">api</a></div>
            <div class="col-lg-3 item"><a href="#">git</a></div>
            <div class="col-lg-3 item"><a href="#">http</a></div>
            <div class="col-lg-3 item"><a href="#">webservice</a></div>
        </div>
    </div>

    <script>
        $(function(){
            $("#toutiao-sync").click(function(){
                alert("完成同步！");
            });
        });
    </script>
</body>
</html>