<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/shares.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/ionic.bundle.js"></script>

</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div id="header">
        <div class="h_t">
            <div class="h_t_content" ng-show="isLogin">
                <nav>
                    <a ng-click="doLogout()"><img src="images/main_loginOut.png">退出</a>
                    <a><img src="images/main_user.png">{{userName}}</a>
                    <a><img src="images/main_phone.png">15996458299</a>
                </nav>
            </div>
            <div class="h_t_content" ng-hide="isLogin">
                <nav>
                    <a href="register.html"><img src="images/register.png">注册</a>
                    <a href="login.html"><img src="images/login.png">登录</a>
                    <a><img src="images/main_phone.png">15996458299</a>
                </nav>
            </div>
        </div>
        <div class="h_b">
            <div class="h_b_content">
                <img src="images/main_logo.png" class="logo" ng-click="toIndex()">
                <ul>
                    <li class="active">首页</li>
                    <li>我的分享</li>
                    <li>我的收藏</li>
                    <li>开发者头条</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="mid">
        <div class="newbie-app">
            <p>使用《新手编程》客户端.</p>
            <button class="btn">立即使用</button>
            <div class="float"></div>
        </div>
        <div class="articels">
            <div class="articel">
                <a href="#"><span class="title">django1.6.11 final nonrel</span></a><br>
                <span class="source">django-mongodb=engine.readthedocs.io</span>
            </div>
            <div class="articel">
                <a href="#"><span class="title">Python 虚拟环境：Virtualenv</span></a><br>
                <span class="source">liuzhijun.iteye.com</span>
            </div>
        </div>
    </div>

           <!--angularjs-->
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope,$http) {
            init();
            function init(){
                getUserInfo();
                getNotice();
            }
            function getUserInfo(){
                if(sessionStorage.token == undefined || sessionStorage.token == "undefined"){
                    $scope.isLogin = 0;
                }else{
                    $http.get("http://credit.dhui100.com:10000/api/user?access_token="+sessionStorage.token)
                            .success(function(res){
                                if(res.response.success ==1){
                                    $scope.isLogin = 1;
                                    $scope.userName = res.response.data.mobile;
                                    sessionStorage.userName = res.response.data.mobile;
                                }else{
                                    $scope.isLogin = 0;
                                }
                            })
                }

            }

            $scope.doLogout = function(){
                sessionStorage.token = undefined;
                window.location.href = "index.html";
            }

            $scope.toApplyPersonal = function(){
                if($scope.isLogin == 0){
                    window.location.href = "login.html";
                }else{
                    $http.get("http://credit.dhui100.com:10000/api/user/person/auth/info?access_token="+sessionStorage.token)
                            .success(function(res){
                                if(res.response.success == 1){
                                    if(res.response.data.status == "uncommitted"){
                                        window.location.href = "remindCertification.html";
                                    }else if(res.response.data.status == "cheching"){
                                        showMsg("正在积极审核中，请耐心等待！");
                                    }else if(res.response.data.status == "pass"){
                                        showMsg("审核通过，该跳转了，页面还在开发中.......");
                                    }else if(res.response.data.status == "nopass"){
                                        window.location.href = "remindCertification.html";
                                    }
                                }else{
                                    showMsg(res.response.error_msg);
                                }
                            })
                }

            }


            $scope.toApplyCompany = function(){
                if($scope.isLogin == 0){
                    window.location.href = "login.html";
                }else{
                    $http.get("http://credit.dhui100.com:10000/api/user/person/auth/info?access_token="+sessionStorage.token)
                            .success(function(res){
                                if(res.response.success == 1){
                                    if(res.response.data.status == "uncommitted"){
                                        window.location.href = "remindCertification.html";
                                    }else if(res.response.data.status == "cheching"){
                                        showMsg("正在积极审核中，请耐心等待！");
                                    }else if(res.response.data.status == "pass"){
                                        showMsg("审核通过，该跳转了，页面还在开发中.......");
                                    }else if(res.response.data.status == "nopass"){
                                        window.location.href = "remindCertification.html";
                                    }
                                }else{
                                    showMsg(res.response.error_msg);
                                }
                            })
                }
            }

            function getNotice(){
                $http.get("http://xulei.dhui100.com:8888/api/notice?page=0"+"&size=3")
                        .success(function(res){
                            if(res.success == 1){
                                $scope.main_notice = res.data;
                            }
                        })
            }

            $scope.toIndex = function(){
                window.location.href = "index.html";
            }

            function showMsg(msg){
                var emailtips = $(".Tips");
                GeneralTips(emailtips);
                emailtips.text(msg);
                emailtips.slideDown(300);
                setTimeout(function(){
                    emailtips.slideUp(300);
                },1500);
            }
        });
    </script>
</body>
</html>