<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/shares.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/ionic.bundle.js"></script>
    <script src="js/ionic.bundle.js"></script>

</head>
<body>
    <div id="header">
        <div class="h_t">
            <div class="h_t_content" ng-show="isLogin">
                <nav>
                    <a ng-click="doLogout()"><img src="images/main_loginOut.png">退出</a>
                    <a><img src="images/main_user.png">{{userName}}</a>
                    <a><img src="images/main_phone.png">15996458299</a>
                </nav>
            </div>
            <div class="h_t_content" ng-hide="isLogin">
                <nav>
                    <a href="register.html"><img src="images/register.png">注册</a>
                    <a href="login.html"><img src="images/login.png">登录</a>
                    <a><img src="images/main_phone.png">15996458299</a>
                </nav>
            </div>
        </div>
        <div class="h_b">
            <div class="h_b_content">
                <img src="images/main_logo.png" class="logo" ng-click="toIndex()">
                <ul>
                    <li><a href="/newbie/index.html">首页</a></li>
                    <li class="active"><a href="/newbie/shares.html">我的分享</a></li>
                    <li><a href="#">最热文章</a></li>
                    <li><a href="#">开发者头条</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="mid">
        <div class="newbie-app">
            <p>使用《新手编程》客户端.</p>
            <button class="btn">立即使用</button>
            <div class="float"></div>
        </div>
        <div class="search">
            <input type="text" class="form-control" placeholder="关键词" />
            <button class="btn">搜索</button>
            <div class="float"></div>
        </div>
        <div id="pagination" class="text-center" style="display:none;">
                <button class="pre btn btn-default" >上一页</button>
                <button class="next btn btn-default">下一页</button>
        </div>
        <div class="articels"></div>

        <!--<div class="text-center">-->
            <!--<ul class="pagination">-->
                <!--<li class="first">-->
                    <!--<a href="javascript:alert('ok');">« 第一页</a>-->
                <!--</li>-->

                <!--<li class="prev">-->
                    <!--<a rel="prev">‹ 上一页</a>-->
                <!--</li>-->

                <!--<li class="page">-->
                    <!--<a rel="prev">1</a>-->
                <!--</li>-->

                <!--<li class="page active">-->
                    <!--<a>2</a>-->
                <!--</li>-->

                <!--<li class="page">-->
                    <!--<a rel="next">3</a>-->
                <!--</li>-->


                <!--<li class="next">-->
                    <!--<a rel="next">下一页 ›</a>-->
                <!--</li>-->

                <!--<li class="last">-->
                    <!--<a>末页 »</a>-->
                <!--</li>-->

            <!--</ul>-->
        <!--</div>-->

    </div>
    <script src="js/newbie/shares.js"></script>
</body>
</html>