#mid{ width:100%; height:auto; min-width: 1200px;}
#mid .main3bg{ width:100%;min-width: 1200px; margin: auto; background-size: 100% auto; position: absolute; top:80px; height:340px; -webkit-filter: blur(2px);}
#mid .bgCon{ width:800px; height:140px; line-height: 140px; padding: 100px 0; top:80px;  position: relative; margin: auto; text-align: center; color:#fff;}
#mid .content{ width:1000px; margin: auto; padding: 100px 100px 40px 100px;}
#mid .content li.type{ width:100%; border-top: 1px solid #ddd; clear: both; }
#mid .content li.type .date{ float: left; width:20%; padding-top:25px;color:#333;  font-size: 20px;}
#mid .content li.type .detail{ float: left; width:80%; font-size: 15px; color:#777; line-height: 22px;}
#mid .content li.type .name{ font-size: 20px; color:#333; line-height: 30px; padding-top: 25px; margin-bottom: 10px}
#mid .content li.type .img{ margin:20px 0 30px 0;}
#mid .content li.type:nth-child(1){ border-top: none;}