#breadcrumb{ margin-top: 110px; height:100px; background: #f1f1f1; width:100%; display: inherit; position: relative}
#breadcrumb .breadcrumb{ background:#f1f1f1 !important; width:1200px; margin: auto; padding-top: 65px; font-size: 18px; color:#353434}
#breadcrumb .breadcrumb a{color:#353434;}
#mid .title{ margin: 35px 0; background:url("../images/shiming.png") no-repeat; line-height: 50px; background-size: 100% 50px; width:100%; height:50px; color:#fff;}
#mid .title span{font-size: 26px; width:220px; text-align: center; display: inline-block}
#mid .remind{ width:100%; height:100px; line-height: 100px; text-align: center; color:#3d4750; font-size: 18px; margin-top: -35px;}
#mid .remind img{}
#mid .content{border:1px solid #eaeaeb; width:100%; height:400px; padding: 50px 105px; background: #f4f5f8; margin-bottom: 55px; padding: 27px 50px 36px 50px; color:#353434; font-size: 16px;}
#mid .content div.fl{width: 545px; height:337px}
#mid .content .line{ float: left; margin-top: 80px;}
#mid .content dl{ width:100%; height:160px;}
#mid .content dl dt{ width:148px; height:148px;}
#mid .content dl dd{ margin-left: 185px; width:175px; text-align: center; font-size: 24px; color:#434d56; padding-top: 20px;}
#mid .content dl dd .btnGo{ width:105px; height:30px; text-align: center; line-height: 30px; color:#fff; background:#ed9b06; font-size: 16px; border-radius: 4px; margin: auto; margin-top: 8px; cursor: pointer}
#mid .content dl dd .btnGo img{    margin-left: 1px;float: right; margin: 5px 12px 0 -16px;}
#mid .content ul{ width:100%; margin-top: 10px; margin-left: 20px;}
#mid .content ul li{ width:100%;  color:#bcc5cd;list-style-type: disc; line-height: 30px;}
#mid .content ul li span{color:#353434; }






