<ion-view title="消息">
  <ion-nav-buttons side="right" ng-if="1 != 1">
    <button class="button button-clear" ng-click="toDelAllMessage()" style="font-size: 4vw">清空</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="mysysteminfo" ng-repeat="message in messages">
        <div class="content">
          <div class="systemleft">{{message.subject}}</div>
          <div class="systemright">{{message.add_time}}</div>
          <p>{{message.content}}</p>
          <ion-option-button class="button-assertive" ng-click="toDelMessage('{{message.user_message_id}}')">删除</ion-option-button>
        </div>

        <!--<a>立即参与></a>-->
      </ion-item>
    </ion-list>
    <div class="tips" ng-bind="tips"></div>
  </ion-content>
</ion-view>
<style type="text/css">
  .mysysteminfo{width:101vw;border-right: none; border-bottom:1px solid #eeeeee;}
  .mysysteminfo div.content{ width:90vw;}
  ion-item:nth-child(1){border-top:none}
  .systemleft{ font-size: 5vw; float: left;}
  .systemright{font-size: 5vw;float: right;}
  p{ margin-top: 8px; color:#999; line-height: 6vw; font-size: 4vw;clear: both;}
  a{display:block; width:92vw; text-align:right;color:#ce0f36; font-size: 4vw;}
  .tips{width:100vw; text-align: center; color:#999; font-size: 3vw; margin-top: 60vw;}
</style>
