<ion-view view-title="登录" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="toMain()">游客登录</button>
  </ion-nav-buttons>
  <ion-content style="background-color: #eaebec">
    <div style="margin-top: 16px;background-color: #ffffff;">
      <span style="margin-left: 10px">手机号</span> <input id="mltel" ng-model="user.mobile" required="required" placeholder="请输入手机号" style="width: 50vw;height: 46px;border: 0px;margin-left: 15px;background-color: #ffffff;">
    </div>
    <div style="margin-top: 2px;background-color: #ffffff;">
      <span style="margin-left: 10px;display: inline-block">邀请码</span> <input ng-model="user.inviteCode"  type="password" id="mlpw"  placeholder="请输入邀请码" style="display:inline-block;width: 50vw;height: 46px;border: 0px;margin-left: 22px;">
    </div>
    <div style="margin-top: 10px;" class="padding">
      <button class="button button-assertive" style="width: 100%" ng-click="toLogin()">登录</button>
    </div>


  </ion-content>
</ion-view>
