<ion-view view-title="个人中心">
  <!--<ion-nav-buttons side="right">-->
    <!--<div style="margin-top: 2.5vw; margin-right:2vw;color: #ffffff" ng-click="setup()">设置</div>-->
  <!--</ion-nav-buttons>-->
  <ion-content style="background-color: #f3f3f3;width:100vw;">
    <dl style="width:100vw; padding:3vw 2vw;border-bottom: 1px solid #e0e0e0; background: #ffffff;height:26vw;">
      <dt style="float:left;width: 18%; "><img ng-src="{{headimgurl}}" style="width: 100%; border-radius: 50%;"></dt>
      <dd style="display:inline-block;margin-left: 2vw; margin-top: 7.5vw;"><span ng-bind="nickname"></span></dd>
    </dl>
    <ul style="width:100vw; padding:3vw 2vw;margin-top:5vw;border-bottom: 1px solid #e0e0e0;border-top: 1px solid #e0e0e0; background: #ffffff;">
      <li ng-click="toOrder()" style="padding-bottom:3vw; padding-left: 1vw; border-bottom:1px solid #eeeeee">我的订单<i class="icon ion-ios-arrow-right" style="color:#999999;float: right;padding-right: 1vw;font-size: 6vw;"></i></li>
      <li ng-click="toAddress()" style="padding:3vw 0; padding-left: 1vw; border-bottom:1px solid #eeeeee">地址管理<i class="icon ion-ios-arrow-right" style="color:#999999;float: right;padding-right: 1vw;font-size: 6vw;"></i></li>
      <li ng-click="toBill()" style="padding:3vw 0; padding-left: 1vw; border-bottom:1px solid #eeeeee">账单管理<i class="icon ion-ios-arrow-right" style="color:#999999;float: right;padding-right: 1vw;font-size: 6vw;"></i></li>

      <li ng-click="toBusiness()" style="padding:3vw 0; padding-left: 1vw; border-bottom:1px solid #eeeeee">业务信息<i class="icon ion-ios-arrow-right" style="color:#999999;float: right;padding-right: 1vw;font-size: 6vw;"></i></li>
      <li ng-click="toSale()" style="padding:3vw 0; padding-left: 1vw; border-bottom:1px solid #eeeeee">售后规则<i class="icon ion-ios-arrow-right" style="color:#999999;float: right;padding-right: 1vw;font-size: 6vw;"></i></li>
      <li ng-click="toServices()" style="padding-top:3vw; padding-left: 1vw;">服务条款<i class="icon ion-ios-arrow-right" style="color:#999999;float: right;padding-right: 1vw;font-size: 6vw;"></i></li>
    </ul>

    <ul style="width:100vw; padding:3vw 2vw;margin-top:5vw;border-bottom: 1px solid #e0e0e0;border-top: 1px solid #e0e0e0; background: #ffffff;">
      <a href="#/tab/feedback" style="text-decoration: none"><li style=" padding-left: 1vw; color:#000;">意见反馈<i class="icon ion-ios-arrow-right" style="color:#999999;float: right;padding-right: 1vw;font-size: 6vw;"></i></li></a>
    </ul>
  </ion-content>
</ion-view>


