<ion-view view-title="业务">
  <ion-content >
    <!-- 下拉刷新-->
    <ion-refresher on-refresh="doRefresh()"
                   pulling-text="Pull to refresh...">

    </ion-refresher>

    <ion-list>

      <div class="lineMap">
        <div class="title" style="margin-top: 10px">最近七天每日收益（元）</div>
        <div class="htmleaf-content">
          <div style="width:90%;margin:0 auto;">
            <div>
              <canvas id="canvas" height="350" width="600"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 100%;height: 1px;background-color: #AAAAAA;margin-top: 10px;"></div>

      <div style="margin-left: auto;margin-right: auto;text-align: center;font-size: 26px;margin-top: 20px"><b>今日收益:&nbsp</b><span style="font-size: 25px">{{today_sum}}</span> </div>

      <div style="margin-left: auto;margin-right: auto;text-align: center;font-size: 20px;margin-top: 20px"><b>当前积分:&nbsp</b><span style="font-size: 18px">{{all_sum}}</span> </div>
      <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
      <!--Delete-->
      <!--</ion-option-button>-->

      <div style="width: 100%;height: 1px;background-color: #AAAAAA;margin-top: 24px;"></div>
      <div style="height:218px;margin-top: 30px">
        <div id="code" align="center" ng-click="goshare()"></div>
      </div>
    </ion-list>
  </ion-content>
  <script id="my-modal.html" type="text/ng-template">
    <div class="modal" ng-click="closeModal()" style="filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6">
      <img src="img/wx_share_zhezhao.png" width="100%">
      <!--<ion-header-bar>-->
      <!--<h1 class="title">我的模型标题</h1>-->
      <!--</ion-header-bar>-->
      <!--<ion-content>-->
      <!--Hello!-->
      <!--</ion-content>-->
    </div>
  </script>
</ion-view>
