<ion-view title="我的订单">
  <ion-content >

    <div class="row" style="height: 35px; background-color: #dfdfdf;padding-bottom: 0px;">
      <div ng-click="paidClick()"class="col-50" style="text-align: center;">
        <b>已完成</b>
        <hr ng-if="ispaid" style="width: 95%;border: 1px solid black;margin:0px;position:relative;margin-top: 8px;">
      </div>
      <div ng-click="unpaidClick()"  class="col-50" style="text-align: center;">
        <b >待支付</b>
        <hr ng-if="!ispaid" style="width: 95%;border: 1px solid black;margin:0px;position:relative;margin-top: 8px;">
      </div>
    </div>



      <!--已支付列表-->
    <div class="myorderfblank" ng-if="ispaid" ng-repeat="order in myorders | filter:{pay_status:{value:0}}">
      <!--订单号+定的时间-->
      <span class="myorderspan"><b>订单号:&nbsp</b> {{order.order_id}}</span>
      <span class="myorderspan" style="float: right;margin-right: 10px">{{order.add_time | limitTo:19}}</span>
      <div class="myorderline"></div>

      <div >
        <!--产品名称-->
        <!--查询公司-->
        <!--订单价格-->
        <span style="display: inline-block;width: 100vw; margin-left: 20px;color: #666666;font-size: 10px;margin-top: 5px;"><b>产品名称:&nbsp</b> {{order.order_goods[0].show_name+order.order_goods[0].name}}</span>
        <span style="display: inline-block;width: 100vw; margin-left: 20px;color: #666666;font-size: 10px;margin-top: 5px;"><b>查询公司:&nbsp</b> {{order.order_id}}</span>
        <span style="display: inline-block;width: 100vw; margin-left: 20px;color: #666666;font-size: 10px;margin-top: 5px;"><b>订单价格:&nbsp</b> {{order.money_paid}}元</span>

      </div>
    </div>


    <!--未支付列表-->
    <div class="myorderfblank" ng-if="!ispaid" ng-repeat="order in myorders | filter:{pay_status:{value:1}}">
      <!--订单号+定的时间-->
      <span class="myorderspan"><b>订单号:&nbsp</b> {{order.order_id}}</span>
      <span class="myorderspan" style="float: right;margin-right: 10px">{{order.add_time | limitTo:19}}</span>
      <div class="myorderline"></div>

      <div >
        <!--产品名称-->
        <!--查询公司-->
        <!--订单价格-->
        <span style="display: inline-block;width: 100vw; margin-left: 20px;color: #666666;font-size: 10px;margin-top: 5px;"><b>产品名称:&nbsp</b> {{order.order_goods[0].show_name + order.order_goods[0].name}}</span>
        <span style="display: inline-block;width: 100vw; margin-left: 20px;color: #666666;font-size: 10px;margin-top: 5px;"><b>查询公司:&nbsp</b> {{order.order_id}}</span>
        <span style="display: inline-block;width: 100vw; margin-left: 20px;color: #666666;font-size: 10px;margin-top: 5px;"><b>订单价格:&nbsp</b> {{order.money_paid}}</span>

        <!--取消订单 + 去支付-->
        <div style="float: right; margin:-15px 5px 0 5px;">
          <button style="width: 70px;height: 25px;border: 1px solid #d9d9d9;font-size: 10px;" ng-click="toPay(order)" >去支付</button>
          <button style="width: 70px;height: 25px;border: 1px solid #d9d9d9;font-size: 10px;">取消订单</button>
        </div>
      </div>
    </div>
  </ion-content>


  <style type="text/css">
    .myorderfblank{width: 100%;height: 120px;background-color: #dfdfdf;margin-top: 20px}
    .myorderspan{margin-left: 20px;color: #666666;display: inline-block;font-size: 10px;margin-top: 5px;}
    /*.myorderdelete{float: right;color: #ce0f36;font-size: 15px;margin-right: 10px;margin-top: 5px;}*/
    .myorderline{width: 100%;height: 1px;background-color: #dfdfdf;margin-top: 5px;}
    /*.myorderbootomspan{margin-left: 20px;color: #4cafe8;width: 180px;height: 30px;line-height: 30px;display: inline-block}*/
  </style>

</ion-view>
