<ion-view view-title="支付成功">
  <ion-content>
    <div style="text-align: center">
      <img src="img/pay_success.png" style="margin-top: 20px;width: 200px;">
    </div>
    <div style="margin-top: 20px;text-align: center">
      <!--<button style="border: 1px solid #848484;background-color: #ffffff;border-radius: 5px;color: #848484">查看订单</button>-->
      <button ng-click="toMain()" style="border: 1px solid #848484;background-color: #ffffff;border-radius: 5px;margin-left: 10px;color: #848484">返回首页</button>
    </div>
  </ion-content>
</ion-view>
