<ion-view title="添加地址">
  <ion-content >

    <div class="list">
      <input ng-model="address.name" type="text" placeholder="收件人姓名" id="name" style="height:40px;  width:100%;padding: 4px 4%; line-height: 40px; border-bottom:1px solid #eee;">
      <input ng-model="address.tel" type="tel" placeholder="手机号" id="tel" style="height:40px;  width:100%;padding: 4px 4%; line-height: 40px; border-bottom:1px solid #eee;">
      <div class="row" style="height:40px;  width:100%;padding: 4px 4%; line-height: 40px; border-bottom:1px solid #eee;">
        <select class="item item-select" style=" text-align: left; width:33%;color:#666;border:none;" ng-model="chooseItem" ng-options="province.name for province in provinces" ng-change="changeProvince(chooseItem)">
          <option value="">请选择</option>
        </select>
        <select   class="item item-select" style=" text-align: center;color:#666; width:34%;border:none;" ng-model="cityItem" ng-options="city.name for city in citys" ng-change="changeCity(chooseItem,cityItem)">
          <option value="">请选择</option>
        </select>
        <select  class="item item-select" style=" text-align: center; color:#666; width:33%;border:none;" ng-model="districtItem" ng-options="district.name for district in districts" ng-change="changeDistrict(districtItem)">
          <option value="">请选择</option>
        </select>
      </div>

      <textarea ng-model="address.detail" placeholder="详细地址" id="address"  style="height:100px;  width:100%;padding: 4px 4%; line-height: 20px; border-bottom:1px solid #eee;"></textarea>


      <div style="width: 92%; margin: 50px 4%; height:35px; line-height: 35px; background: #f0525d; color:#fff; text-align: center; border-radius: 2px;"  ng-click="add(chooseItem,cityItem,districtItem)">添加地址</div>

    </div>

  </ion-content>
</ion-view>
<style>

  input,textarea{font-size: 16px !important;}
</style>
