<ion-view view-title="核对订单">
    <ion-content style="background-color: #f2f2f2;color: #303030 !important;">
        <!-- 选择地址 -->
        <!-- 没有地址的样式 -->
        <!--<div class="item" ng-if="!isHaveAddress" ng-click="toChooseAddress()" style="background-color: #ffffff">-->
        <!--<i class="icon ion-ios-plus-outline" style="font-size: 2em; "></i>-->
        <!--<div style="float: right;padding-top: 7px;">-->
        <!--<i style="font-size: 1.2em;">请选择收货地址</i>-->
        <!--<i style="font-size: 1.2em;" class="icon ion-ios-arrow-right"></i>-->
        <!--</div>-->

        <!--</div>-->
        <!-- 有地址的样式 -->
        <div ng-click="toChooseAddress()" style="width:100%; height:auto; background-color: #fff; padding:8px 4%; border-bottom: 1px solid #e0e0e0">
         <span style="width:10vw; position: absolute; top: 8vw">
           <i class="icon ion-ios-location-outline" style="font-size: 2em;margin-top:5vw;color:#e4a835 !important;"></i>
         </span>
         <span style="width:80vw;  margin-left:10vw;display: inline-block">
           <div style="color: #303030" id="name">收货人: {{address.contact_name}}</div>
           <div style="color:#303030;" id="tel">手机: {{address.contact_mobile}}</div>
           <div id="address" style="color: #303030;">收货地址: {{address.area}}{{address.city}}{{address.district}}{{address.detailed_address}}</div>
         </span>
            <span style="width:10vw; position: absolute; right: 0 ;top: 8vw"><i class="ion ion-ios-arrow-right" style="font-size: 8vw;color: #aaa;margin-top: 2vw;"></i></span>
        </div>

        <!-- 送货时间 -->
        <div style="margin-top: 20px;  border-top: 1px solid #e0e0e0; background-color: #fff">
            <div class="padding" style="background-color: #ffffff;height:40px;">
                <i style="font-size: 16px;">送货时间</i>
                <div style="float: right; color:#999">今日12点前次日8点-16点</div></div>
            <div style="width: 96%; margin-left: 2%; border-top:1px solid #eee"></div>
            <div ng-click="toChooseInvoice()" class="padding" style="background-color: #ffffff;border-bottom: 1px solid #e0e0e0;float: left;width: 100%">
                <i style="font-size: 16px;">发票信息</i>
                <i ng-bind="invoice.invoice_header" style="float: right; color:#999"></i></div>
        </div>
        <div style="background-color: #f2f2f2;width: 100%;height: 40px;"></div>
        <!-- 优惠方式 -->
        <div style="margin-top: 20px;border-bottom: 1px solid #e0e0e0; background: #fff; border-top: 1px solid #e0e0e0;">
            <div style="background-color: #ffffff;height: 40px;" class="padding">
                <i class="positive" style="font-size: 18px; color:#f0525d">优惠方式</i>
            </div>
            <div style="width: 96%; margin-left: 2%; border-top:1px solid #eee"></div>
            <div class="padding" style="background-color: #ffffff"><i style="font-size: 16px">积分</i><div style="float: right;margin-top: -2px;"><i class="icon ion-ios-arrow-right" style="font-size: 8vw;color: #aaa;margin-top: 1vw;"></i></div></div>
            <div ng-hide="1" style="background-color: #f2f2f2;width: 100%;height: 1px;"></div>
            <div ng-hide="1" class="padding" style="background-color: #ffffff"><i style="font-size: 1.2em;">红包</i><div style="float: right"><img src="img/paycode.png" style="width: 20px;margin-right: 5px;"></div></div>
        </div>

        <!-- 支付方式 -->
        <div style="margin-top: 20px;border-bottom: 1px solid #e0e0e0;border-top: 1px solid #e0e0e0; background: #fff;">
            <div style="background-color: #ffffff;height: 40px;" class="padding">
                <i class="positive" style="font-size: 18px; color:#f0525d">支付方式</i>
            </div>
            <div style="width: 96%; margin-left: 2%; border-top:1px solid #eee"></div>
            <div ng-click="choosePayType('wx')" ng-if="payTypeWX" class="padding" style="background-color: #ffffff"><i class="icon ion-ios-circle-filled positive" style="margin-right: 10px;font-size: 1.5em; color:#e4a835 !important"></i><i style="font-size: 1.2em;">微信支付</i></div>
            <div ng-click="choosePayType('wx')" ng-if="!payTypeWX" class="padding" style="background-color: #ffffff"><i class="icon ion-ios-circle-outline positive" style="margin-right: 10px;font-size: 1.5em; color:#e4a835 !important"></i><i style="font-size: 1.2em;">微信支付</i></div>
            <div style="width: 96%; margin-left: 2%; border-top:1px solid #eee"></div>
            <div ng-click="choosePayType('df')" ng-if="payTypeDF" class="padding" style="background-color: #ffffff"><i class="icon ion-ios-circle-filled positive" style="margin-right: 10px;font-size: 1.5em; color:#e4a835 !important"></i><i style="font-size: 1.2em;">货到付款</i></div>
            <div ng-click="choosePayType('df')" ng-if="!payTypeDF" class="padding" style="background-color: #ffffff"><i class="icon ion-ios-circle-outline positive" style="margin-right: 10px;font-size: 1.5em; color:#e4a835 !important"></i><i style="font-size: 1.2em;">货到付款</i></div>
            <div style="width: 96%; margin-left: 2%; border-top:1px solid #eee"></div>
            <!--<div ng-click="choosePayType('dhb')" ng-if="payTypeDHB" class="padding" style="background-color: #ffffff"><i class="icon ion-ios-circle-filled positive" style="margin-right: 10px;font-size: 1.5em;"></i><i style="font-size: 1.2em;">东汇宝</i></div>-->
            <!--<div ng-click="choosePayType('dhb')" ng-if="!payTypeDHB" class="padding" style="background-color: #ffffff"><i class="icon ion-ios-circle-outline positive" style="margin-right: 10px;font-size: 1.5em;"></i><i style="font-size: 1.2em;">东汇宝</i></div>-->
            <!--<div ng-if="payTypeDHB" class="padding" style="background-color: #ffffff"><i class="icon ion-ios-circle-filled positive" style="margin-right: 10px;font-size: 1.5em; color:#e4a835 !important"></i><i style="font-size: 1.2em; color: #ccc;">东汇宝</i></div>-->
            <!--<div ng-if="!payTypeDHB" class="padding" style="background-color: #ffffff"><i class="icon ion-ios-circle-outline positive" style="margin-right: 10px;font-size: 1.5em; color:#e4a835 !important"></i><i  style="font-size: 1.2em;color: #ccc">东汇宝</i></div>-->

        </div>

        <!-- 确认价格 -->
        <div style="margin-top: 20px;border-bottom: 1px solid #e0e0e0;border-top: 1px solid #e0e0e0; background: #fff;">
            <div class="padding" style="background-color: #ffffff">
                <i class="positive" style="font-size: 18px; color:#f0525d">应付金额</i>
            </div>
            <div style="width: 96%; margin-left: 2%; border-top:1px solid #eee"></div>
            <div class="padding" style="background-color: #ffffff">
                <i style="display: block; line-height:30px; width:90%; margin-left: 5%;">商品金额<i style="float: right; color:#ea534f" class="positive">{{totalPrice| currency:'￥'}}元</i></i>
                <!--<div style="width: 96%; margin-left: 2%; border-top:1px solid #eee"></div>-->
                <i style="display: block;line-height:30px; width:90%; margin-left: 5%;">运费<i style="float: right;color:#ea534f" class="positive">￥0元</i></i>
                <!--<div style="width: 96%; margin-left: 2%; border-top:1px solid #eee"></div>-->
                <i style="display: block;line-height:30px; width:90%; margin-left: 5%;">优惠券<i style="float: right;color:#ea534f" class="positive">￥0元</i></i>
            </div>
            <div style="width: 96%; margin-left: 2%; border-top:1px solid #eee"></div>
            <div style="background-color: #ffffff;height: 40px;" class="padding">
                <i class="positive" style="float: right; color:#303030;font-size:14px;">应付 <i style="color:#ea534f;">￥</i><span style=" font-size:18px;color:#ea534f;">{{totalPrice | currency:''}}</span>元</i>
            </div>
        </div>

        <div style="width: 100%;height: 100px;"></div>


    </ion-content>
    <div style="position:fixed;left:0;bottom:0%;width: 100%;height: 40px;background-color: #ffffff; border-top:1px solid #d2d2d2;">
        <div style="width:50%;height: 40px; line-height:40px;float: left; padding-left: 8px;">
            <i style="color:#303030">应付</i><i style="color: #d85d70; font-size: 16px;"><span style="font-size: 12px;">￥</span>{{totalPrice | currency:''}}元</i>
        </div>
        <div ng-click="toPay()" style="float: right;width: 100px;line-height: 40px; text-align:center; color:#fff; background:#f0525d;font-size: 16px;" >确认订单</div>
    </div>
</ion-view>

