/* CSS Document */
*{ margin:0; padding:0;}
body,html{ height:100%; width:100%; font-size:14px;-webkit-backface-visibility: hidden; color:#030303; background:#fff; font-family: 微软雅黑, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Verdana, Arial;}
.overflow{ overflow-x:hidden}
ul,ol,li{ list-style-type:none;}
a, a:hover, a:focus{ text-decoration:none; color: #000;}/*color: #30a5ff;*/
img {border:none;}
i{ font-style:normal}
input,textarea{ font-size:14px;border:none;}

.clear{ clear:both;}
.fr{ float:right;}
.fl{ float:left;}
.fs9{ font-size:9px !important}
.fs10{ font-size:10px !important}
.fs12{ font-size:12px !important}
.fs14{ font-size:14px !important}
.fs16{ font-size:16px !important}
.fs18{ font-size:18px !important}
.fs20{ font-size:20px !important}
.fs22{ font-size:22px !important}
.fs24{ font-size:24px !important}
.fs50{ font-size:50px !important}
.fs32{ font-size:32px !important}
.fw{ font-weight:bold;}
.col7{ color:#777 !important}
.col4{ color:#444 !important}
.col6{ color:#666 !important}
.col9{ color:#999 !important;}
.colred{ color:#f00 !important}
.colf{color:#fff !important}
.col1{ color:#ca7 !important}
.col2{color:#d10000 !important}
.col3{color:#008d2b !important}

.tal{ text-align:left;}
.tac{ text-align:center;}
.tar{ text-align:right;}

/*常用间距*/
 .lH{ line-height:60px !important;}
 .lH40{ line-height:40px !important;}
 .lH20{ line-height:20px !important;}
 
 .tA{ text-align:center;}
 .tAl{ text-align:left}

.mt0{ margin-top:0 !important}
.mt5{ margin-top:5px !important}
.mt10{ margin-top:10px !important}
.mt20{ margin-top:20px !important}
.mt30{ margin-top:30px !important}


.ml5{ margin-left:5px;}
.ml6{ margin-left:6px;}
.ml7{ margin-left:7px;}
.ml8{ margin-left:8px;}
.ml9{ margin-left:9px;}
.ml10{ margin-left:10px;}
.ml11{ margin-left:11px;}
.ml12{ margin-left:12px;}
.ml13{ margin-left:13px;}
.ml14{ margin-left:14px;}
.ml15{ margin-left:15px;}
.ml16{ margin-left:16px;}

.mr5{ margin-right:5px;}
.mr6{ margin-right:6px;}
.mr7{ margin-right:7px;}
.mr8{ margin-right:8px;}
.mr9{ margin-right:9px;}
.mr10{ margin-right:10px;}
.mr11{ margin-right:11px;}
.mr12{ margin-right:12px;}
.mr13{ margin-right:13px;}
.mr14{ margin-right:14px;}
.mr15{ margin-right:15px;}
.mr16{ margin-right:16px;}


.mb20{ margin-bottom:20px;}
/*显示隐藏*/
.hide{ display:none;}
.show{ display:block;}


#header{ width:100%; height:80px; box-shadow:0px 2px 12px rgba(0,0,0,0.1); background: rgba(255,255,255,0.8); font-size: 20px; color:#666; position: fixed; z-index: 999;}
#header .content{ margin: auto; width: 1200px; height:80px; line-height: 80px;}
#header .content ul{ width:100%; height:80px;}
#header .content ul li{ float: right; margin-right: 55px;}
#header .content ul li:nth-child(1){float: left;}
#header .content ul li:nth-child(1) img{height:70px; margin-top: 5px;}
#header .content ul li:nth-child(2){ margin-right: 0; color:rgb(66, 154, 204)}
#header .content ul li:nth-child(2) img{width:40px; vertical-align: middle}
#header .content ul li:nth-child(3){ margin-right: 80px;}
#header .content ul li.type.active{ color:rgb(66, 154, 204)}
#header .content ul li.type a{ color:#666}
#header .content ul li.type:hover,#header .content ul li.type a:hover{ color:rgb(68,127,224);}



#footer{  clear: both; width:100%; min-width: 1200px; text-align: center; background: rgb(66, 154, 204); color:#fff; line-height: 40px; height:40px;}
