<ion-view title="登录">
  <ion-content  style="background-color: #f2f2f2">

    <div style="width:100%; margin-top: 5vw; line-height: 35px; font-size: 4vw;">
      <ul style="background-color:#fff;padding-left: 10px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;">
        <li style="width:100%; height:50px; border-bottom: 1px solid #eee;">
          <label style="float:left;padding:14px 0 0 15px;font-size: 1em">新密码</label>
          <input id="new_password" type="tel"  minlength="6"  maxlength="16"  placeholder="请输入新密码" style=" font-size: 4vw;height:42px; width:50%; margin-top: 2px; padding-left: 6vw;padding-top: 10px">

        </li>
        <li style="width:100%; height:50px; ">
          <label style="float:left;padding:14px 0 0 15px;font-size: 1em">确认密码</label>
          <input id="sure_password" type="text"  minlength="6" maxlength="16" placeholder="请确认新密码" style="font-size: 4vw; padding-left: 2vw;padding-top: 10px; height:42px;">
        </li>
      </ul>

      <button id="commit" class="button button-dark button-block" style="margin-left: 10%;width: 80%;background-color:#5aa5f0;margin-top:40px;"  ng-click="do_modify_password()"><span  style="font-size: 1.3em">确认</span></button>


    </div>

  </ion-content>
</ion-view>
