<ion-view title="我的订单">
  <ion-content style="background-color: #dfdfdf">

    <div class="myorderfblank" ng-repeat="order in myorders">
      <span class="myorderspan">{{order.add_time}}</span>
      <div class="myorderline"></div>

      <div ng-if="!order.noone">
        <img ng-src={{order.order_goods[0].goods_img}} style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block" ng-click="godetail(order.order_goods[0].goods_id)">
        <span style="display: inline-block;vertical-align: top;margin-top: 20px;font-size: 16px;margin-left: 8px;color: #666666">{{order.order_goods[0].goods_name}}</span>
      </div>

      <div ng-if="order.noone">
        <img  style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block" ng-repeat="myimg in order.order_goods" ng-src={{myimg.goods_img}} ng-click="godetail(myimg.goods_id)">
        <span style="display: inline-block;vertical-align: top;margin-top: 20px;font-size: 16px;margin-left: 8px;color: #666666"></span>
      </div>

      <!--<div ng-if="order.noone&&!order.myid">-->
      <!--<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block" ng-repeat="myimg in order.order_goods" ng-click="godetail(myimg.goods_id)">-->
      <!--<span style="display: inline-block;vertical-align: top;margin-top: 20px;font-size: 16px;margin-left: 8px;color: #666666"></span>-->
      <!--</div>-->

      <!--<div ng-if="order.myid">-->
      <!--<ion-scroll zooming="true" direction="x" style="width: 100%; height: 80px">-->
      <!--<div id=order.myid style="height: 80px;">-->
      <!--<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block" ng-repeat="myimg in order.order_goods" ng-click="godetail(myimg.goods_id)">-->
      <!--</div>-->
      <!--</ion-scroll>-->
      <!--<span style="display: inline-block;vertical-align: top;margin-top: 20px;font-size: 16px;margin-left: 8px;color: #666666"></span>-->
      <!--</div>-->


      <div class="myorderline" style="margin-top: 10px;"></div>
      <div class="myorderbootomspan">实付款：{{order.goods_amount|number:2}}元</div>
      <span style="float: right;margin-right: 10px;color: #666666;display: inline-block;margin-top: 5px;" ng-if="order.pay_status==1">未支付</span>
      <span style="float: right;margin-right: 10px;color: #666666;display: inline-block;margin-top: 5px;" ng-if="order.pay_status==2">已支付</span>
      <span style="float: right;margin-right: 10px;color: #666666;display: inline-block;margin-top: 5px;" ng-if="order.pay_status==3">货到付款</span>


    </div>

    <!--<div class="myordersblank">-->
    <!--<span class="myorderspan">2016.12.34&nbsp&nbsp&nbsp12:23:34</span>-->
    <!--<span class="myorderdelete">删除</span>-->
    <!--<div class="myorderline"></div>-->
    <!--<ion-scroll zooming="true" direction="x" style="width: 100%; height: 80px">-->
    <!--<div id="index" style="height: 80px;">-->
    <!--<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">-->
    <!--<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">-->
    <!--<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">-->
    <!--<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">-->
    <!--&lt;!&ndash;<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">&ndash;&gt;-->
    <!--</div>-->
    <!--</ion-scroll>-->


    <!--<div class="myorderline" style="margin-top: 10px;"></div>-->
    <!--<div class="myorderbootomspan">实付款：539元</div>-->
    <!--<span style="float: right;margin-right: 10px;color: #666666;display: inline-block;margin-top: 5px;">已完成</span>-->
    <!--</div>-->

    <!--<div class="myordersblank">-->
    <!--<span class="myorderspan">2016.12.34&nbsp&nbsp&nbsp12:23:34</span>-->
    <!--<span class="myorderdelete">删除</span>-->
    <!--<div class="myorderline"></div>-->
    <!--<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">-->
    <!--<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">-->

    <!--<img src="img/flash_sale01.png" style="width: 70px;height: 70px;margin-top: 10px;margin-left: 20px;display: inline-block">-->

    <!--<div class="myorderline" style="margin-top: 10px;"></div>-->
    <!--<div class="myorderbootomspan">实付款：1200元</div>-->
    <!--<span style="float: right;margin-right: 10px;color: #666666;display: inline-block;margin-top: 5px;">已完成</span>-->
    <!--</div>-->
  </ion-content>
</ion-view>
<style type="text/css">
  .myorderfblank{width: 100%;height: 159px;background-color: #ffffff;margin-top: 10px}
  .myordersblank{width: 100%;height: 159px;background-color: #ffffff;margin-top: 10px;}
  .myorderspan{margin-left: 20px;color: #666666;display: inline-block;font-size: 10px;margin-top: 5px;}
  .myorderdelete{float: right;color: #ce0f36;font-size: 15px;margin-right: 10px;margin-top: 5px;}
  .myorderline{width: 100%;height: 1px;background-color: #dfdfdf;margin-top: 5px;}
  .myorderbootomspan{margin-left: 20px;color: #4cafe8;width: 180px;height: 30px;line-height: 30px;display: inline-block}
</style>
