html{
	border: 0 none;
	margin: 0;
	padding: 0;
	background: #eeeeee;
	overflow-x: auto;
	overflow-y: scroll;
	font-family: "Hiragino Sans GB", "WenQuanYi Micro Hei", "微软雅黑", Verdana, Arial;
}
body{
	border: 0 none;
	margin: 0;
	padding: 0;
	background: #eeeeee;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "Hiragino Sans GB", "WenQuanYi Micro Hei", "微软雅黑", Verdana, Arial;		
}
.image1 {float:left;display:inline;margin:8px 0px 8px 0px; z-index: 5; overflow: hidden;width: 68px; height:34px}
.image2 {position: relative; margin:300px 20px 0px 400px; z-index: 5; overflow: hidden;width: 750px; height:404px}		
.animated {-webkit-transition: .2s ease-out;-moz-transition: .2s ease-out;-ms-transition: .2s ease-out;-o-transition: .2s ease-out;transition: .2s ease-out;}
.animated1 {-webkit-transition: .4s ease-out;-moz-transition: .4s ease-out;-ms-transition: .4s ease-out;-o-transition: .4s ease-out;transition: .4s ease-out;}
.flipped-horizontal-right {-webkit-transform: rotateY(-90deg);-moz-transform: rotateY(-90deg);-ms-transform: rotateY(-90deg);-o-transform: rotateY(-90deg);transform: rotateY(-90deg);}
.flipped-horizontal-left {-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-ms-transform: rotateY(0deg);-o-transform: rotateY(0deg);transform: rotateY(0deg);}