#mid{ width:100%; height:auto; min-width: 1200px; margin: auto;}
#mid .main3bg{ width:100%; min-width: 1200px; margin: auto; background-size: 100% auto; position: absolute; top:80px; height:340px; -webkit-filter: blur(2px);}
#mid .bgCon{ width:800px; height:140px; line-height: 140px; padding: 100px 0; top:80px;  position: relative; margin: auto; text-align: center; color:#fff;}
#mid .content{ width:1000px; margin: auto; padding: 100px 100px 40px 100px;}
#mid .content li.type{ width:100%; border-bottom: 1px solid #ddd;}
#mid .content li.type .name{ font-size: 20px; color:#ff9900; line-height: 35px; padding-top: 45px;}
#mid .content li.type .smallName{ font-size: 18px; color:#333; line-height: 30px; margin-top: 15px;}
#mid .content li.type li{ color:#777; line-height: 32px; font-size: 15px;}
#mid .content li.type .email{font-size: 14px; color:#ff9900; line-height: 35px;margin-top: 15px; margin-bottom: 45px;}
#mid .content li.type:last-child{ border-bottom: none;}